/* You can add global styles to this file, and also import other style files */
body {
    background-color: #35654d
}

.bg-danger {
    background-color: #e74c3c;
}

.cards{
    height: 8em;
    width: 7em;
    border-radius: 0.5em;
    border: 0.16em solid;
    border-color: aliceblue;
}

.participant-name {
    margin-bottom: 10px;
    width: 6em;
    color: #3498DB;
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow-x:auto;
    overflow-wrap: break-word;
    text-overflow: clip;
    text-align: center;
}

.card-cell{
    float: left;
    margin: 10px;;
}

.add-participant-box {
    margin-top: 30px;
    margin-left: 250px;

}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 60px;
    margin-bottom: 20px;
}
.add-participant {
	box-shadow: 0px 10px 14px -7px #3e7327;
	background:linear-gradient(to bottom, #77b55a 5%, #72b352 100%);
	background-color:#77b55a;
	border-radius:4px;
	border:1px solid #4b8f29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:13px;
	font-weight:bold;
	padding:6px 12px;
	text-decoration:none;
	text-shadow:0px 1px 0px #5b8a3c;
}
.add-participant:hover {
	background:linear-gradient(to bottom, #72b352 5%, #77b55a 100%);
	background-color:#72b352;
}
.add-participant:active {
	position:relative;
	top:1px;
}

        


