<div class="card my-5">
  <div class="card-body" class="add-participant-box">
    <form (ngSubmit)="onSubmit()" #participantForm="ngForm">
      <div class="form-group" style="margin-bottom: 10px;">
        <input type="text" [(ngModel)]="participant.name" 
          class="form-control" 
          id="name" 
          name="name" 
          placeholder="Enter your name"
          required #name="ngModel">
      </div>
      <button type="submit" [disabled]="!participantForm.form.valid" class="btn btn-info add-participant">Join</button>
      <button type="submit" class="btn btn-info" style="margin-left: 10px;">Cancel</button>
    </form>
  </div>
</div>
