<div class="card my-5">

  <div class="card-body">

    <div class="add-participant-box">
      <a  *ngIf="getCurrentParticipant() == null" routerLink="/addParticipant" class="add-participant">Join voting</a>
      <a  *ngIf="getCurrentParticipant() != null" routerLink="/removeParticipant" class="add-participant">Leave voting</a>
    </div>

    <div class="card-selection">
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">0</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">1/2</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">1</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">2</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">3</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">5</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">8</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">13</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">20</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">40</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">100</button></div>
      <div class="col-md-1 col-xs-2"><button type="button" class="btn btn-default card-selection-button">?</button></div>
    </div>
    &nbsp;
    <div>&nbsp;</div>


    <table class="table table-bordered table-striped cards-table">
      <thead class="thead-dark">
      </thead>
      <tbody>
        <tr>
        <td *ngFor="let p of participants" class="card-cell">
          <div *ngIf="getCurrentParticipant().name == p.name" class="participant-name"><b>{{ p.name }}</b></div>
          <div  *ngIf="getCurrentParticipant().name != p.name" class="participant-name">{{ p.name }}</div>
          <div data-card="5" class="bg-danger cards"><p></p></div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
