
.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.topic-name {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 18px;
    height: 30px;
    width: 460px;
    margin-left: 80px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
}

.btn {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 30px;
    margin-left: 10px;
    margin-top: 4px;
}