
.form-control {
    display: inline-block;
    width: auto;
    vertical-align: middle;
}

.topic-card {
    margin-top: 4%;
    width: 90%;
}
.topic-name {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 1em;
    height: 32px;
    width: 90%;
    border: rgb(99, 131, 180) 3px solid;
}

.set-topic-btn {
    font-family: "Source Sans Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
    height: 32px;
}