<div class="container">

  <div class="col-md-12">

    <div>
      <!-- <div class="title">
        <span style='color: blue'>P</span>
        <span style='color: red'>l</span>
        <span style='color: yellow'>a</span>
        <span style='color: blue'>n</span>
        <span style='color: green'>n</span>
        <span style='color: blue'>i</span>
        <span style='color: red'>n</span>
        <span style='color: yellow'>g</span>
        <span style='margin-left: 20px;color: blue'>P</span>
        <span style='color: red'>o</span>
        <span style='color: yellow'>k</span>
        <span style='color: blue'>e</span>
        <span style='color: green'>r</span>
      </div> -->

    <div class="row" class="main-container;">
      <div class="card bg-dark my-5" style="margin-top: 10px;">
  
        <div class="topic-card">
          <form (ngSubmit)="onSubmit()" #topicForm="ngForm" autocomplete="off">
            <div class="form-group">
              <input type="text" [(ngModel)]="topic" 
                class="form-control topic-name" 
                id="name" 
                name="name" 
                placeholder="No topic set. Please select a topic..."
                required #name="ngModel">
                <button type="submit" [disabled]="!topicForm.form.valid" 
                class="set-topic-btn">Set topic</button>
              </div>
          </form>
        </div>
    
        <div>&nbsp;</div>
      </div>
      </div>
      <router-outlet></router-outlet>

    
    </div>

  </div>

</div>


